streamlit
langchain
google-generativeai
faiss-cpu
sentence-transformers
gtts
streamlit_mic_recorder
python-dotenv
langchain
langchain_community
langchain_openai
python-dotenv
streamlit
langchain_experimental
sentence-transformers
langchain_chroma
langchainhub
unstructured